.header {
  background-image: url("../../assets/header-background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%) !important;
  height: 50vh;
  width: inherit;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;

  color: var(--light-title-color);
}

.content h2 {
  font-weight: bold;
}
